<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138106562250-57215uloebp6u8e6sge9mpep8jjdea9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138106562250-57215uloebp6u8e6sge9mpep8jjdea9u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>138106562250-moa46ia1jfh2cubn43qcm1injr3r4b1e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCN7rR51zEpjM9qJJZjGC2ZGFKGKKYexNA</string>
	<key>GCM_SENDER_ID</key>
	<string>138106562250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ubisoft.hungrydragon</string>
	<key>PROJECT_ID</key>
	<string>hungry-dragon-45530774</string>
	<key>STORAGE_BUCKET</key>
	<string>hungry-dragon-45530774.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138106562250:ios:bb9e103d69ec7f9f</string>
	<key>DATABASE_URL</key>
	<string>https://hungry-dragon-45530774.firebaseio.com</string>
</dict>
</plist>